<script lang="ts" setup>
import { ref } from "vue";

const state = {
  text: ["ANGRY", "CUTE", "EXCITED", "PAIN", "SHOCKED", "SMILE"],
  img: [
    "../../public/angry.png",
    "../../public/cute.png",
    "../../public/excited.png",
    "../../public/pain.png",
    "../../public/shocked.png",
    "../../public/smile.png",
  ],
};
let n = ref(0);

function changeImage(index: number) {
  n.value = index;
}
</script>
<template>
  <v-container class="text-center fill-height">
    <v-row>
      <v-col cols="6">
        <v-img :src="state.img[n]" style="width: 600px"> </v-img>
      </v-col>
      <v-col cols="6" class="justify-center">
        <h1 class="mt-5">{{ state.text[n] }}</h1>

        <v-item-group mandatory>
          <v-container class="d-flex flex-column">
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(0);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    ANGRY
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(1);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    CUTE
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(2);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    EXCITED
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(3);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    PAIN
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(4);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    SHOCKED
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'yellow' : ''"
                    class="pa-3"
                    @click="
                      () => {
                        changeImage(5);
                        toggle();
                      }
                    "
                    height="50"
                  >
                    SMILE
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn-toggle {
  flex-direction: column;
  justify-content: space-around;
}

.v-btn {
  border: 1px solid;
  width: 70%;
  font-size: 24px;

  height: 50px;
}
</style>
