<script lang="ts" setup>
import { ref, computed } from "vue";

let sum = computed(function () {
  return products2.value.reduce((Sum, order) => order.price + Sum, 0);
});

interface pro {
  id: number;
  name: string;
  price: number;
}

const addProduct = (id: number): void => {
  const index = products.value.findIndex((item) => item.id === id);
  products2.value.push(products.value[index]);
};

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const products2 = ref<pro[]>([]);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container class="con-f">
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.id">
              <v-card class="text-center" style="height: 150px; width: 200px">
                <v-card-title>
                  {{ item.name }}
                </v-card-title>
                <v-card-subtitle>
                  {{ item.price }}
                </v-card-subtitle>
                <v-btn @click="addProduct(item.id)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-table class="con-f mt-n4">
          <thead>
            <tr class="text-body-2">
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tbody v-if="sum > 0">
            <tr v-for="(item, index) in products2" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
          <tbody v-else class="text-center">
            <td></td>
            <td class="text-h6">No data</td>
            <td></td>
          </tbody>
        </v-table>

        <v-divider style="border-style: dashed" class="mt-2"></v-divider>
        <v-container>
          <v-row>
            <v-col cols="7">
              <h4>ยอดรวมทั้งหมด :</h4>
            </v-col>
            <v-col cols="5">
              <h4>{{ sum }}</h4>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.con-f {
  max-height: 70vh;
  overflow-y: auto;
  flex-direction: column;
}
</style>
