<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <h3>{{ countStore.doubleCount }}</h3>
  <br />
  <v-btn @click="countStore.decrease">DECREASE</v-btn>
</template>
